*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:crimson;
    font-family: sans-serif;
}
#dropdown{
    margin: 100px auto;
    width: 600px;
}
#dropdown li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: white;
    padding: 10px;
}
#dropdown li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: dodgerblue;
    cursor: pointer;
    
}
#dropdown li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color:dodgerblue ;
}
#dropdown label+ input[type = "radio"]{
    display: none;
}
#dropdown .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#dropdown label + input[type = "radio"]:checked + .content{
    max-height: 400px;
}